.messageList_container {
  padding: 3rem 6.7rem;
}

.messageList_heading {
  font-size: 40px;
  font-weight: 600;
  font-family: "JetBrains Mono", monospace;
}

.messageList_body {
  margin-top: 30px;
}

.chart_body{
  margin-top: 50px;
  font-size: 25px;
  font-weight: 600;
}

.messageList_item {
  margin-top: 10px;
}

.protocol_heading {
  display: flex;
  align-items: center;
}

.messageList_subheading2 {
  margin-top: 50px;
  font-size: 25px;
  font-weight: 600;
}

.messageList_subheading{
  margin-top: 50px;
  font-size: 25px;
  font-weight: 600;
}

.protocol_heading p {
  font-size: 18px;
  font-weight: 600;
}

.protocol_img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 25px;
}
